.App {
  position: relative;
  min-height: 100vh;
}

.App-main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.App-link {
  color: #61dafb;
}

.haiku-body {
  white-space: pre-wrap;
}

#haiku-body {
  white-space: pre-wrap;
}

.hero-section {
  background-image: url('https://d7hftxdivxxvm.cloudfront.net/?height=578&quality=80&resize_to=fit&src=https%3A%2F%2Fd32dm0rphc51dk.cloudfront.net%2FKP9sPhI4hLocRmfLg8RSJA%2Fnormalized.jpg&width=800');
  background-size: cover;
  background-position: top;
  
}

.icon {
  color:	#353935;
}

.icon:hover {
  color:blue;
}

.logout:hover {
  color:blue;
  font-weight:600;
}

/* #login-cover {
  background-color: white;
  opacity: 80%;
} */

#login {
  background-image: url('https://images.saatchiart.com/saatchi/1880644/art/8934785/7998153-FZFGOIYW-32.jpg');
  background-size: cover;
  background-position: top;
  border-radius: 3px;
}



@media screen and (max-width: 650px) {
  .icon {
    width: 20px;
  }
}
